/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
Colors used

Text Color (Dark Gray): #080404
Background Color (powder (blue/green light): #e3f5ef
Secondary Color (Dark coral): #b84e00
Alternate Color (teal):#0d6e75
Second-Alternate Color (olive): #545f15;
 */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #545f15;
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: #0d6e75;
}

a:hover {
  /* No underlining when hovering over a link */
  text-decoration: none;
  color: #b84e00;
}

a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
  color: #b84e00;
}

a.active {
  /* selected link */
  color: #886a00;
}

.about-me {
  min-width: 360px;
  max-width: 1000px;
  margin: 0 auto;
}

.about-text-and-image {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65% 35%;
  grid-template-columns: 65% 35%;
}

.about-text-and-image .math-photo {
  -ms-grid-rows: ;
  grid-template: "container";
  place-items: center;
  place-content: center;
  overflow: hidden;
  max-height: clamp(300px, 50vh, 300px);
}

body {
  background-color: #e3f5ef;
  color: #080404;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.3;
  margin: 10px;
}

p .button {
  border: none;
  font-family: inherit;
  background-color: #df744a;
  color: white;
  text-decoration: none;
  padding: 5px 9px;
  border-radius: 12px;
  border-bottom: 2px solid #7c3215;
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.button:hover {
  cursor: pointer;
  opacity: 0.85;
}

.button:focus {
  cursor: pointer;
  opacity: 0.85;
}

/* Contact Form CSS start*/
.contact-container {
  min-width: 360px;
  max-width: 950px;
  margin: 0 auto;
}

.contact-header {
  text-align: center;
}

.contact-me {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
  grid-template-columns: 55% 45%;
}

input {
  float: left;
  width: calc(100% - 200px);
  margin-bottom: 1rem;
}

#message {
  width: calc(100% - 200px);
}

.standard-label {
  float: left;
  width: 200px;
}

.submit {
  border: none;
  font-family: inherit;
  background-color: #df744a;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 9px;
  border-bottom: 2px solid #7c3215;
  margin-top: 15px;
  float: right;
}

.submit:hover {
  cursor: pointer;
  opacity: 0.9;
}

.submit:focus {
  cursor: pointer;
  opacity: 0.9;
}
/* Contact Form CSS end*/

/* start grid fallback */
.grid_item {
  display: inline-block;
  width: 50%;
}
/* end grid fallback */

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .grid_item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 15px;
  }
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  color: #b84e00;
  line-height: 0.5;
}

h1,
h2 {
  font-family: "PT Sans", sans-serif;
}

.grid-item {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image-credit {
  display: block;
  float: right;
  font-size: small;
}

.math-photo {
  width: 90%;
  padding: 10px;
}

.my-info {
  list-style: none;
}

.name {
  font-weight: 800;
  color: #886a00;
}

.navigation-list {
  list-style: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.page-footer {
  clear: both;
  text-align: center;
  margin-top: 50px;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header_item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
  height: 100px;
}

.page-header_item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.profile {
  min-width: 360px;
  max-width: 750px;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.profile_portrait {
  float: left;
  width: 200px;
  margin-right: 40px;
  border-radius: 45%;
}

@-webkit-keyframes spin-around {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

@keyframes spin-around {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

.question-mark {
  -webkit-animation: 3s spin-around infinite alternate linear;
  animation: 3s spin-around infinite alternate linear;
}

.social-media {
  margin: 0 auto;
  max-width: 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

table {
  margin-top: 20px;
}

td {
  padding: 6px;
}

th {
  padding: 3px;
  text-decoration: underline;
}

.who-i-am {
  margin-bottom: 40px;
}

.work {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

/*media queries*/
@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .contact-me {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 501px) and (max-width: 780px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .contact-me {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 21px;
  }

  p {
    font-size: 19px;
  }
}
